#
# P U M A . P H I
#



#
# M A I N   C O N T E N T
#
<IfModule mod_rewrite.c>
  RewriteEngine on
  #RewriteBase /puma
  RewriteBase /

  RewriteCond %{HTTP_HOST} !puma.uni-regensburg.de                                                                                                                                                         
  RewriteRule (.*)                http://puma.uni-regensburg.de/$1 [R,L,QSA]

  RewriteRule ^favicon.ico        -                [L]
  RewriteRule ^static/(.*)        -                [L]
  RewriteRule ^\.(.*)$            -                [F,L]
  RewriteRule ^stuff              -                [F,L]
  # RewriteRule ^aigaionengine/(.*) aigaionengine/$1 [L]
  RewriteRule ^index.php/(.*)$    index.php?$1     [L,QSA]
  RewriteRule ^index.php(.*)$     -                [L]
  RewriteRule ^puma/(.*)$         http://puma.uni-regensburg.de/$1  [R,L,QSA]
  RewriteRule ^(.*)$              index.php?$1     [L,QSA]
</IfModule>



#
# S T A T I C   C O N T E N T
#
AddType image/vnd.microsoft.icon .ico
<IfModule expires_module>
  # Favicon should quite never expire
  ExpiresActive On
  ExpiresByType image/vnd.microsoft.icon "access plus 2 years"
</IfModule>

