@charset "UTF-8";




/**
 * R E S E T
 *
 * @see http://meyerweb.com/eric/tools/css/reset/
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
body {
  font: 75%/1.25 "Frutiger Next Pro","Frutiger Next","Segoe UI",Verdana,sans-serif;
  color: #002D2F;
  background: white;
  overflow-y: scroll;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
:focus {
  outline: 0;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}
/**
 * button fix
 *
 * @see http://jehiah.cz/archive/an-even-better-ie-button-width-fix
 */
button,
input[type=submit], input[type=image],
input[type=reset], input[type=button] {
  cursor: pointer;
  overflow: visible;
  padding: 0 .5em;
  width: auto;
}
button, input, textarea {
  font: 1em/1.25 "Frutiger Next Pro","Frutiger Next","Segoe UI",Verdana,sans-serif;
  color: #002D2F;
}
.user_contact_embed,
fieldset {
  border: .0833em solid #00757E;
  padding: 1.1667em;
  border-radius: .1667em;
  -moz-border-radius: .1667em;
  -webkit-border-radius: .1667em;
  margin-bottom: 1.25em;
}
label {
  cursor: pointer;
}
/**
 * sub/sup baseline shift problem
 *
 * @see http://www.velvetblues.com/web-development-blog/superscripts-subscripts-uneven-line-height/
 */
sub, sup {
  line-height: 0;
  font-size: .8333em;
}
sub {
  vertical-align: sub;
}
sup {
  vertical-align: super;
}
p.after_p,
p + p {
  margin-top: 1.25em;
}
*.pseudolink, a {
  color: #008891;
}
a:visited {
  color: #5c8688;
}
*.pseudolink:focus,
*.pseudolink:hover,
a:focus,
a:hover {
  color: #00b0bc;
}
code {
  font-family: monospace;
}
hr {
  height: 0;
  width: 100%;
  border-style: solid;
  border-top-color: #00757E;
  border-bottom-color: #E0EEEF;
  border-width: .08333em 0;
  margin: .8333em 0;
}






/**
 * J Q U E R Y   U I
 *
 * @see http://jqueryui.com/themeroller/?ffDefault=Frutiger%20Next%20Pro,Frutiger%20Next,Segoe%20UI,Verdana,sans-serif&fwDefault=normal&fsDefault=1.1em&cornerRadius=3px&bgColorHeader=def7f5&bgTextureHeader=03_highlight_soft.png&bgImgOpacityHeader=100&borderColorHeader=aeeae6&fcHeader=222222&iconColorHeader=72cfc8&bgColorContent=f2f5f7&bgTextureContent=04_highlight_hard.png&bgImgOpacityContent=100&borderColorContent=dddddd&fcContent=2b3136&iconColorContent=72cfc7&bgColorDefault=d7f9f7&bgTextureDefault=02_glass.png&bgImgOpacityDefault=80&borderColorDefault=aeeae8&fcDefault=27aaa0&iconColorDefault=3db3ab&bgColorHover=e4fbfb&bgTextureHover=02_glass.png&bgImgOpacityHover=100&borderColorHover=74e2df&fcHover=00a39b&iconColorHover=26e8e8&bgColorActive=1a9e98&bgTextureActive=02_glass.png&bgImgOpacityActive=50&borderColorActive=1dc9c2&fcActive=ffffff&iconColorActive=ffffff&bgColorHighlight=18e2d6&bgTextureHighlight=02_glass.png&bgImgOpacityHighlight=25&borderColorHighlight=00b8b8&fcHighlight=363636&iconColorHighlight=006b6b&bgColorError=cd0a0a&bgTextureError=01_flat.png&bgImgOpacityError=15&borderColorError=cd0a0a&fcError=ffffff&iconColorError=ffd1d1&bgColorOverlay=eeeeee&bgTextureOverlay=08_diagonals_thick.png&bgImgOpacityOverlay=90&opacityOverlay=80&bgColorShadow=000000&bgTextureShadow=04_highlight_hard.png&bgImgOpacityShadow=70&opacityShadow=30&thicknessShadow=7px&offsetTopShadow=-7px&offsetLeftShadow=-7px&cornerRadiusShadow=3px
 */
/*
* jQuery UI CSS Framework
* Copyright (c) 2009 AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.
*/

/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute; left: -99999999px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
/* end clearfix */
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }


/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }


/* Icons
----------------------------------*/

/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }



/*
* jQuery UI CSS Framework
* Copyright (c) 2009 AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Frutiger%20Next%20Pro,Frutiger%20Next,Segoe%20UI,Verdana,sans-serif&fwDefault=normal&fsDefault=1.1em&cornerRadius=3px&bgColorHeader=def7f5&bgTextureHeader=03_highlight_soft.png&bgImgOpacityHeader=100&borderColorHeader=aeeae6&fcHeader=222222&iconColorHeader=72cfc8&bgColorContent=f2f5f7&bgTextureContent=04_highlight_hard.png&bgImgOpacityContent=100&borderColorContent=dddddd&fcContent=2b3136&iconColorContent=72cfc7&bgColorDefault=d7f9f7&bgTextureDefault=02_glass.png&bgImgOpacityDefault=80&borderColorDefault=aeeae8&fcDefault=27aaa0&iconColorDefault=3db3ab&bgColorHover=e4fbfb&bgTextureHover=02_glass.png&bgImgOpacityHover=100&borderColorHover=74e2df&fcHover=00a39b&iconColorHover=26e8e8&bgColorActive=1a9e98&bgTextureActive=02_glass.png&bgImgOpacityActive=50&borderColorActive=1dc9c2&fcActive=ffffff&iconColorActive=ffffff&bgColorHighlight=18e2d6&bgTextureHighlight=02_glass.png&bgImgOpacityHighlight=25&borderColorHighlight=00b8b8&fcHighlight=363636&iconColorHighlight=006b6b&bgColorError=cd0a0a&bgTextureError=01_flat.png&bgImgOpacityError=15&borderColorError=cd0a0a&fcError=ffffff&iconColorError=ffd1d1&bgColorOverlay=eeeeee&bgTextureOverlay=08_diagonals_thick.png&bgImgOpacityOverlay=90&opacityOverlay=80&bgColorShadow=000000&bgTextureShadow=04_highlight_hard.png&bgImgOpacityShadow=70&opacityShadow=30&thicknessShadow=7px&offsetTopShadow=-7px&offsetLeftShadow=-7px&cornerRadiusShadow=3px
*/


/* Component containers
----------------------------------*/
.ui-widget { font-family: Frutiger Next Pro,Frutiger Next,Segoe UI,Verdana,sans-serif; font-size: 1.1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Frutiger Next Pro,Frutiger Next,Segoe UI,Verdana,sans-serif; font-size: 1em; }
.ui-widget-content { border: 1px solid #dddddd; background: #f2f5f7 url(images/ui-bg_highlight-hard_100_f2f5f7_1x100.png) 50% top repeat-x; color: #2b3136; }
.ui-widget-content a { color: #2b3136; }
.ui-widget-header { border: 1px solid #aeeae6; background: #def7f5 url(images/ui-bg_highlight-soft_100_def7f5_1x100.png) 50% 50% repeat-x; color: #222222; font-weight: bold; }
.ui-widget-header a { color: #222222; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default { border: 1px solid #aeeae8; background: #d7f9f7 url(images/ui-bg_glass_80_d7f9f7_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #27aaa0; outline: none; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #27aaa0; text-decoration: none; outline: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus { border: 1px solid #74e2df; background: #e4fbfb url(images/ui-bg_glass_100_e4fbfb_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #00a39b; outline: none; }
.ui-state-hover a, .ui-state-hover a:hover { color: #00a39b; text-decoration: none; outline: none; }
.ui-state-active, .ui-widget-content .ui-state-active { border: 1px solid #1dc9c2; background: #1a9e98 url(images/ui-bg_glass_50_1a9e98_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #ffffff; outline: none; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #ffffff; outline: none; text-decoration: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight {border: 1px solid #00b8b8; background: #18e2d6 url(images/ui-bg_glass_25_18e2d6_1x400.png) 50% 50% repeat-x; color: #363636; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a { color: #363636; }
.ui-state-error, .ui-widget-content .ui-state-error {border: 1px solid #cd0a0a; background: #cd0a0a url(images/ui-bg_flat_15_cd0a0a_40x100.png) 50% 50% repeat-x; color: #ffffff; }
.ui-state-error a, .ui-widget-content .ui-state-error a { color: #ffffff; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text { color: #ffffff; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }

/* Icons
----------------------------------*/

/* states and images */
.ui-icon { width: 16px; height: 16px; background-image: url(images/ui-icons_72cfc7_256x240.png); }
.ui-widget-content .ui-icon {background-image: url(images/ui-icons_72cfc7_256x240.png); }
.ui-widget-header .ui-icon {background-image: url(images/ui-icons_72cfc8_256x240.png); }
.ui-state-default .ui-icon { background-image: url(images/ui-icons_3db3ab_256x240.png); }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(images/ui-icons_26e8e8_256x240.png); }
.ui-state-active .ui-icon {background-image: url(images/ui-icons_ffffff_256x240.png); }
.ui-state-highlight .ui-icon {background-image: url(images/ui-icons_006b6b_256x240.png); }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url(images/ui-icons_ffd1d1_256x240.png); }

/* positioning */
.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-off { background-position: -96px -144px; }
.ui-icon-radio-on { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }


/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-tl { -moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; }
.ui-corner-tr { -moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; }
.ui-corner-bl { -moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px; }
.ui-corner-br { -moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px; }
.ui-corner-top { -moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; -moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; }
.ui-corner-bottom { -moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px; -moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px; }
.ui-corner-right {  -moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; -moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px; }
.ui-corner-left { -moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; -moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px; }
.ui-corner-all { -moz-border-radius: 3px; -webkit-border-radius: 3px; }

/* Overlays */
.ui-widget-overlay { background: #eeeeee url(images/ui-bg_diagonals-thick_90_eeeeee_40x40.png) 50% 50% repeat; opacity: .80;filter:Alpha(Opacity=80); }
.ui-widget-shadow { margin: -7px 0 0 -7px; padding: 7px; background: #000000 url(images/ui-bg_highlight-hard_70_000000_1x100.png) 50% top repeat-x; opacity: .30;filter:Alpha(Opacity=30); -moz-border-radius: 3px; -webkit-border-radius: 3px; }/* Accordion
----------------------------------*/
.ui-accordion .ui-accordion-header { cursor: pointer; position: relative; margin-top: 1px; zoom: 1; }
.ui-accordion .ui-accordion-li-fix { display: inline; }
.ui-accordion .ui-accordion-header-active { border-bottom: 0 !important; }
.ui-accordion .ui-accordion-header a { display: block; font-size: 1em; padding: .5em .5em .5em 2.2em; }
.ui-accordion .ui-accordion-header .ui-icon { position: absolute; left: .5em; top: 50%; margin-top: -8px; }
.ui-accordion .ui-accordion-content { padding: 1em 2.2em; border-top: 0; margin-top: -2px; position: relative; top: 1px; margin-bottom: 2px; overflow: auto; display: none; }
.ui-accordion .ui-accordion-content-active { display: block; }/* Datepicker
----------------------------------*/
.ui-datepicker { width: 17em; padding: .2em .2em 0; }
.ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position:absolute; top: 2px; width: 1.8em; height: 1.8em; }
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px; }
.ui-datepicker .ui-datepicker-prev { left:2px; }
.ui-datepicker .ui-datepicker-next { right:2px; }
.ui-datepicker .ui-datepicker-prev-hover { left:1px; }
.ui-datepicker .ui-datepicker-next-hover { right:1px; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px;  }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
.ui-datepicker .ui-datepicker-title select { float:left; font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year { width: 49%;}
.ui-datepicker .ui-datepicker-title select.ui-datepicker-year { float: right; }
.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; }
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0;  }
.ui-datepicker td { border: 0; padding: 1px; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none; }
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi { width:auto; }
.ui-datepicker-multi .ui-datepicker-group { float:left; }
.ui-datepicker-multi .ui-datepicker-group table { width:95%; margin:0 auto .4em; }
.ui-datepicker-multi-2 .ui-datepicker-group { width:50%; }
.ui-datepicker-multi-3 .ui-datepicker-group { width:33.3%; }
.ui-datepicker-multi-4 .ui-datepicker-group { width:25%; }
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-buttonpane { clear:left; }
.ui-datepicker-row-break { clear:both; width:100%; }

/* RTL support */
.ui-datepicker-rtl { direction: rtl; }
.ui-datepicker-rtl .ui-datepicker-prev { right: 2px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next { left: 2px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-prev:hover { right: 1px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next:hover { left: 1px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-buttonpane { clear:right; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float:right; }
.ui-datepicker-rtl .ui-datepicker-group { float:right; }
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header { border-right-width:0; border-left-width:1px; }
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { border-right-width:0; border-left-width:1px; }

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
    display: none; /*sorry for IE5*/
    display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}/* Dialog
----------------------------------*/
.ui-dialog { position: relative; padding: .2em; width: 300px; }
.ui-dialog .ui-dialog-titlebar { padding: .5em .3em .3em 1em; position: relative;  }
.ui-dialog .ui-dialog-title { float: left; margin: .1em 0 .2em; }
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
.ui-dialog .ui-dialog-content { border: 0; padding: .5em 1em; background: none; overflow: auto; zoom: 1; }
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.ui-dialog .ui-dialog-buttonpane button { float: right; margin: .5em .4em .5em 0; cursor: pointer; padding: .2em .6em .3em .6em; line-height: 1.4em; width:auto; overflow:visible; }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }
/* Progressbar
----------------------------------*/
.ui-progressbar { height:2em; text-align: left; }
.ui-progressbar .ui-progressbar-value {margin: -1px; height:100%; }/* Resizable
----------------------------------*/
.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block;}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0px; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0px; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0px; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0px; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}/* Slider
----------------------------------*/
.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; }

.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }/* Tabs
----------------------------------*/
.ui-tabs { padding: .2em; zoom: 1; }
.ui-tabs .ui-tabs-nav { list-style: none; position: relative; padding: .2em .2em 0; }
.ui-tabs .ui-tabs-nav li { position: relative; float: left; border-bottom-width: 0 !important; margin: 0 .2em -1px 0; padding: 0; }
.ui-tabs .ui-tabs-nav li a { float: left; text-decoration: none; padding: .5em 1em; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { padding-bottom: 1px; border-bottom-width: 0; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { padding: 1em 1.4em; display: block; border-width: 0; background: none; }
.ui-tabs .ui-tabs-hide { display: none !important; }



/**
 * L A Y O U T
 */
html {
  background: #008993;
}

body {
  background: white url(images/header_expanded.png) no-repeat center top;
  *overflow: hidden;
}

#container {
  width: 77em;
  margin: 0 auto;
}

#header {
  overflow: hidden;
}

#header_widgets a {
  color: white;
}

#header_widgets a:focus,
#header_widgets a:hover {
  color: #A1F9FF;
}

#header_widgets {
  float: right;
  width: 62em;
  background: #008993;
}

#header_backlink {
  background: #8d8d8d;
  float: left;
}

#header_backlink a {
  display: block;
  text-align: center;
  color: white;
  width: 20em;
  height: 5em;
  line-height: 5em;
}

#header_backlink a:focus,
#header_backlink a:hover {
  background-color: white;
  color: #8d8d8d;
}

#header h1 {
  float: left;
}

#header h1 a {
  display: block;
  width: 15em;
  height: 10.8333em;
}

#header h1 a:focus,
#header h1 a:hover {
  background: url(images/header_hover.png) no-repeat 2.75em 1.41667em;
}

#header h1 a span {
  display: none;
}

#header h2 {
  margin: 5em 0 0 15em;
}

#header h2 a {
  background: url(images/logo.png) no-repeat 4em center;
  display: block;
  text-align: center;
  font: 1.5em/3.8888 Verdana,sans-serif;
  padding: 0 0 0 13.3333em;
  color: #8d8d8d;
  white-space: nowrap;
  overflow: hidden;
}

#header_controls {
  color: white;
  padding: .25em 1em;
  margin: 0 0 0 20em;
  opacity: .3;
}

#header_widgets:hover #header_controls,
#header_controls:hover {
  opacity: 1;
}

#header_controls .header_control {
  margin: 0;
  font-size: .91em;
  line-height: 2.3em;
}

#header_controls a {
  border-bottom: .08333em solid;
}

#header_controls #quicksearch {
  float: right;
  margin: 0 0 0 1em;
}

#header_controls .userdata {
  clear: right;
}






#nav table,
#nav ul {
  border: .08333em solid #61a6a9;
  display: table;
  table-layout: fixed;
  width: 100%;
}

#nav table td,
#nav ul li {
  display: table-cell;
  background: #008993 url(images/nav.png) repeat-x left top;
  height: 3.1667em;
  line-height: 3.1667em;
  text-align: center;
  border-style: solid;
  border-width: 0 .08333em;
  border-right-color: #195c5f;
  border-left-color: #41a2a8;
  color: white;
}

#nav table td.first,
#nav ul li.first {
  border-left-width: 0;
}

#nav table td.last,
#nav ul li.last {
  border-right-width: 0;
}

#nav table td span,
#nav table td a,
#nav ul li span,
#nav ul li a {
  display: block;
  background: url(images/nav.png) repeat-x left top;
  height: 3.1667em;
  line-height: 3.1667em;
  text-align: center;
  color: white;
}

#nav table td.current a,
#nav ul li.current a {
  background-position: left bottom;
}

#nav table td a:focus,
#nav table td a:hover,
#nav ul li a:focus,
#nav ul li a:hover {
  background-position: left center;
}

#nav img {
  vertical-align: middle;
  padding-bottom: .25em;
  opacity: .67;
  filter:Alpha(Opacity=67);
}

#nav .current img,
#nav a:hover img {
  opacity: 1;
  filter:Alpha(Opacity=100);
}



#subnav {
  margin: 1.25em 0 -1.25em;
  border-bottom: .08333em solid #61a6a9;
  height: 2.5em;
}

#subnav.min {
  height: 0;
}

#subnav ul {
}

#subnav ul li {
  float:left;
}

#subnav li span,
#subnav li a {
  display: block;
  background: url(images/nav.png) repeat-x left top;
  height: 2.4em;
  line-height: 2.4em;
  border-style: solid;
  border-width: .08333em;
  border-top-color: #7bd3d6;
  border-right-color: #195c5f;
  border-left-color: #41a2a8;
  border-bottom-color: #61a6a9;
  color: white;
  padding: 0 1.25em;
  margin-bottom: -0.08333em;
  white-space: nowrap;
}

#subnav ul li.current span,
#subnav ul li.current a {
  border-top-color: #35e1ec;
  border-top-width: .25em;
  padding-bottom: .25em;
  height: 2em;
  line-height: 2em;
  border-bottom-color: #cbd9da;
  background: #cbd9da;
  color: #008891;
}

#subnav li a:focus,
#subnav li a:hover {
  background-position: left center;
}

#subnav li a:active {
  background-position: left bottom;
}

#subnav ul li.first span,
#subnav ul li.first a {
  -moz-border-radius-topleft: .1667em;
  -webkit-border-top-left-radius: .1667em;
  border-top-left-radius: .1667em;
}

#subnav ul li.last span,
#subnav ul li.last a {
  -moz-border-radius-topright: .1667em;
  -webkit-border-top-right-radius: .1667em;
  border-top-right-radius: .1667em;
  border-right-width: 0;
}




#content {
  border: .08333em solid #61a6a9;
  border-top: 0;
  background: #cbd9da;
  padding: 1.16667em;
  margin: 1.25em 0;
  clear: left;
  overflow: auto;
  min-height: 25em;
}

#content h2 {
  font-size: 1.667em;
  line-height: 1.25;
  font-weight: bold;
  margin: 0 0 .625em;
  color: #004B4F;
  text-shadow: #E0EEEF 0 .05em 0;
}

#content h3 {
  font-size: 1.33em;
  line-height: .9375;
  margin: 0 0 .9375em;
  color: #004B4F;
  text-shadow: #E0EEEF 0 .0625em 0;
}

#content p,
#content li,
#content table,
#content dd {
  margin: 0 0 .625em;
}

#content em,
#content .caption,
#content i {
  font-style: italic;
}

#content .caption em {
  font-style: normal;
}

#content strong,
#content .strong,
#content b {
  font-weight: bold;
}








#footer {
  background: #008993 url(images/footer.png) repeat-x left top;
  color: white;
  font: .9167em/1.3636 Verdana,sans-serif;
  text-align: center;
  x-width: 100%;
  padding-bottom: 3em;
}

#footer_content {
  width: 48em;
  padding: 3em 0 0;
  margin: 0 auto;
}

#footer a {
  color: #a1f9ff;
}

#footer ul.level1 {
  margin: 1.25em auto 0;
  width: 80em;
  overflow: hidden;
}

#footer li.level1 {
  width: 17em;
  padding: 0 1.5em;
  border-right: .08333em solid #00757e;
  float: left;
  text-align: left;
}

#footer ul li.level1_first {
  text-align: right;
}

#footer li.level1_last {
  padding: 0 0 0 1.5em;
  border-right: none;
}

#footer li form,
#footer li p,
#footer li li {
  margin: .25em 0;
}

#footer li h3 {
  font-size: 1.0909em;
}

#footer a:focus,
#footer a:hover {
  color: white;
  border-bottom: .08333em solid;
}

#header textarea,
#header input.text,
#footer textarea,
#footer input.text {
  border: .08333em solid #00757e;
  border-radius: .16667em;
  -moz-border-radius: .16667em;
  -webkit-border-radius: .16667em;
  background: #c2fbff;
  color: #005A5F;
  width: 16em;
  padding: .25em;
}

#header textarea:focus,
#header input.text:focus,
#footer textarea:focus,
#footer input.text:focus {
  border-color: #c2fbff;
  background: white;
  color: #002D2F;
}

#header input.submit,
#footer input.submit {
  border: .08333em solid #00757e;
  border-radius: .16667em;
  -moz-border-radius: .16667em;
  -webkit-border-radius: .16667em;
  background: url(images/nav.png) repeat-x left center;
  color: white;
  width: 16.25em;
  padding: .25em;
}

#header input.submit {
  width: 6.25em;
}

#header input.submit:focus,
#header input.submit:hover,
#footer input.submit:focus,
#footer input.submit:hover {
  background-position: left -.8333em;
}

#header input.submit:active,
#footer input.submit:active {
  background-position: left bottom;
}




/**
 * Single widgets
 */

/** infos, errors */
.info, .error {
  margin: 0 0 1.25em;
  padding: 0.625em;
}

.info {
  background: #6f6;
}

.error {
  background: #f66;
}

/** forms */
#content label.block {
  width: 8em;
  display: block;
  float: left;
  text-align: right;
  margin: 0 1.25em .625em 0;
}

#content p.empty_block {
  padding-left: 9.25em;
}

#content label.extended_label,
#content .extended_label label.block {
  width: 16em;
}

/** Input fields */
#content textarea,
#content input.text {
  border: .08333em solid #00757e;
  border-radius: .16667em;
  -moz-border-radius: .16667em;
  -webkit-border-radius: .16667em;
  background: #EFFEFF;
  color: #005A5F;
  padding: .25em;
}

#content textarea,
#content select,
#content input.text {
  width: 16em;
}

#content select {
  width: 15em;
}

#content textarea.extended_input,
#content select.extended_input,
#content input.extended_input,
#content .extended_input textarea,
#content .extended_input select,
#content .extended_input input.text {
  width: 32em;
}

#content textarea.short_input,
#content select.short_input,
#content input.short_input,
#content .short_input textarea,
#content .short_input select,
#content .short_input input.text {
  width: 4em;
}

#content textarea:focus,
#content input.text:focus {
  border-color: #c2fbff;
  background: white;
  color: #002D2F;
}

#content textarea.readonly,
#content input.text.readonly {
  border-color: #bbb;
  background: #EFEFEF;
  color: #888;
}


/** Submit buttons */
#content .pseudobutton,
#content button,
#content input.button,
#content input.submit {
  border: .08333em solid #00757e;
  border-radius: .16667em;
  -moz-border-radius: .16667em;
  -webkit-border-radius: .16667em;
  background: url(images/nav.png) repeat-x left center;
  color: white;
  padding: .25em;
  display: inline-block;
  position: relative;
}

#content .wide_button {
  width: 16em;
}

#content .pseudobutton {
  line-height: 1.5;
}

#content .pseudobutton:focus,
#content button:focus,
#content input.button:focus,
#content input.submit:focus,
#content .pseudobutton:hover,
#content button:hover,
#content input.button:hover,
#content input.submit:hover {
  background-position: left -.8333em;
}

#content .pseudobutton:active,
#content button:active,
#content input.button:active,
#content input.submit:active {
  background-position: left bottom;
}





#content form .note {
  margin: 0 0 0 10.09091em;
  display: block;
  font-style: italic;
  font-size: .91667em;
  line-height: 1.3636;
  color: #3B5E5F;
}

#content .extended_label .note {
  margin-left: 19.18182em;
}

#content *.pseudolink {
  background: none;
  border: 0;
  display: inline;
  padding: 0;
}

#content form p {
  clear: left;
  overflow: hidden;
}

#content fieldset.half {
  width: 34em;
  margin-right: 1.25em;
  float: left;
  overflow: hidden;
}

#content .datatable tr.even th,
#content .datatable tr.even td,
#content fieldset p.even {
  background: #d6e4e6;
}

#content fieldset p.even {
  background: #d6e4e6;
  padding: .625em 0;
}

#content .brick {
  width: 34em;
  overflow: hidden;
}




#content ul.tabs {
  overflow: hidden;
  margin: 0 0 .625em;
}

#content ul.tabs li {
  display: block;
  float: left;
  margin: 0 .08333em .08333em 0;
}

#content ul.tabs li a {
  display: block;
  border: .08333em solid #61A6A9;
  border-bottom: 0;
  background: #008993 url(images/nav.png) repeat-x left top;
  padding: .25em .5em;
  color: white;
}

#content ul.tabs li a:hover {
  background-position: left center;
}

#content ul.tabs li.active a {
  background: #CBD9DA;
  color: #002d2f;
}


.datatable {
  border: .08333em solid #E0EEEF;
  min-width: 29em;
}

.datatable th {
  font-style: italic;
}

.datatable th.first {
  border-right: .08333em solid #E0EEEF;
}

.datatable th,
.datatable td {
  padding: .625em;
  vertical-align: top;
}





/**
 * Single pages' layouts
 */
.user_contact_embed {
  float: right;
  margin: 0 0 1em 1em;
}


.help-content,
#content .help-content h3 {
  margin-top: 1.25em;
}



body.search form {
  margin-bottom: 2.5em;
}

.search_advanced_condition label {
  font-style: italic;
  display: block;
}

.search_advanced_condition select {
  width: 32em;
}


#search_external_form li {
  float: left;
  width: 120px;
  margin: 0 0.41515em .41515em 0;
}

#search_external_form button {
  width: 116px;
}

#user_ .brick li {
  width: 16.5em;
  float: left;
}

body.group .datatable ul li {
  float: left;
  width: 14em;
  padding-right: 1.25em;
}


